.stats{
	text-align:center;
	background-color:$foreground;
	width:98%;
	margin:0 auto;
	.adviceContainer{
		text-align:center;
		margin-bottom: 10px;
		display:inline-block;
			h1{
				color:$highlight;
				font-weight:bold;
				font-size:4em;
			}
			p{
				font-size: 1.3em;
				color:$light;
			}
		}
	.row{
		margin:0;
	}
	.match-info{
		color:$accent2;
		font-weight: bold;
		text-align:center;
		#summoner{
			display:inline-block;
			margin:0 auto;
			font-size: 3.1em;
			margin: 0;
			color:$highlight;
			@media (min-width:893){
				#summoner{
					font-size:2.4em;
				}
			}
		}
		#champion{
			display:block;
			margin:5% auto;
			font-size: 3em;
		}
		#champion-name{
			display:inline-block;
			margin:0 auto;
			color:$highlight;
		}
		.highlight{
			color:$highlight;
		}
	} 
	.statsContainer{
		padding:0;
		.graph-title{
			font-size:1.1em;
			margin:0 0 0 0;
			color:$light;
		}
		table{
			border-spacing: 0;
		}
		.table > tbody{
			border-top: none;
		}
		td, th{
  			width: 3rem;
  			height: 1.5rem;
  			text-align: center;
			
		}
		.column{
			color:$light;
			font-size: 1em;
		}
		.table-body > tr > th{
			color:$light;
			font-size:1em;
			text-align: left;
		}
		.table > tbody > tr > th,.table > tbody > tr > td{
			border:none;
			vertical-align:middle;
		}
		.table >tbody > tr:nth-of-type(even){
			background-color:$background;
		}
		th {
			background: none;

		}
		td{
			color:$highlight;
			font-size:1.1em;
			padding:0;
		}
		tr{

		}
		.adviceContainer{
			h1{
				color:$accent2;
			}
			p{
				font-size: 1.3em;
				color:$light;
			}
		}
		.graph-container{
			.graph{
				padding-left:10px;
			}
			.legend{
				padding-left:10%;
				li{
					display:inline-block;
					color:$light;
					padding-right:5px;
				}
				span{
					width:12px;
					height:12px;
					position:relative;
					display:block;
					float: left;
					margin-right:6px;
				}
			}
			.axis path,
			.axis line {
			  fill:none;
			  stroke: $light;
			  stroke-opacity:.75;
			  shape-rendering: crispEdges;
			}
			.tick{
				fill:$light;
			}
			.x.axis path {
  				
			}

		}
	}
}

