navbar {

  display: block;
  box-shadow: 1px 1px 14px -3px black;

  .container {
    width: 91%;
    position:relative;
  }

  a {
    color: $light;
    font-size: 16px;
    text-decoration:none !important;
  }
  .navbar-header{
    .title{
    color: $accent2;
    cursor: pointer;
    font-weight: bold;
    font-size: 2.8em;
    transition:color 0.2;
      &.active {
      
      }
      &.hover{
        background:none;
        color: darken($highlight, 10%);
      }
    }
  }
  .nav{
    margin-left: 2%;
    padding-top:20px;
    padding-bottom:20px;
    height:100%;
    line-height: 100%;
    white-space: nowrap;
  }
  .nav > li > a {
    cursor: pointer;
    transition: color 0.2s;
    &.active {
      color: darken($highlight, 10%);
    }
    &:hover {
      background: none;
      color: $highlight;
    }
    &:focus {
      background: none;
    }
  }


 .search-bar{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);

  input[type= 'text']{
    padding:5px;
    border: solid 5px #c9c9c9;
    border-radius: 4px;
    font-size:15px
  }
  
  .search{
    background-color: $accent1;
    border:none;
  }

 }


}
